---
import Layout from '../layouts/Layout.astro';

---

<Layout title="PlayCover">
  <div class="flex flex-col items-center justify-center max-w-[1350px] h-[85vh] mx-auto py-10">
    <div class="text-center text-[150px] leading-[160px] font-semibold font-lufga">
        404!
    </div>
    <div class="text-center font-itcavantgardestdmd text-xl md:pb-10">
        Sorry, but the page you are looking for does not exist.
    </div>
</div>
</Layout>

<style>
</style>
