---
import Layout from '../layouts/Layout.astro';
import ReleasesList from '../components/ReleasesList.vue';

---

<Layout title="Changelog - PlayCover">
	<main class="flex-grow">
		<div class=" max-w-7xl mx-auto ">
			<div class="mt-4 pb-8 mx-auto">
				<ReleasesList />
			</div>
		</div>
	</main>
</Layout>

<style>
</style>
