---
import Layout from '../layouts/Layout.astro';
import Home from "../components/Home.vue";
import FeaturedGames from '../components/FeaturedGames.vue';
---

<Layout title="PlayCover">
	<main class="flex-grow h-full">
		<Home>
			<FeaturedGames client:load />
		</Home>
		<!--  componente feature games como slot de home y que se cargue desde el cliente evitando una super isla -->
	</main>
</Layout>

<style>
</style>
