---
import Layout from '../layouts/Layout.astro';
import Home from "../components/Home.vue";
import FeaturedGames from '../components/FeaturedGames.vue';
---

<Layout title="Playcover">
	<main class="flex-grow">
		<Home>
			<FeaturedGames client:load />
		</Home>
	</main>
</Layout>

<style>
</style>
