---
import TeamMembers from '../components/TeamMembers.vue';
import Layout from '../layouts/Layout.astro';
import {Suspense } from 'vue';
---

<Layout title="Playcover - Team">
	<main class="flex-grow px-8">
		<TeamMembers />
	</main>
</Layout>

<style>
</style>
