---
const currentYear = new Date().getFullYear();
---

<div class="mx-4 xxl:mx-0 text-black dark:text-white">
  <div class="font-lufga text-center py-2">
      &copy; {currentYear === 2022 ? currentYear : `2022 - ${currentYear}`} <a href="/">PlayCover</a>. All rights reserved.
  </div>
</div>